<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Lizt</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-notify/dist/angular-notify.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-notification/dist/angular-ui-notification.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body data-ng-app="feApp">
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div data-ng-show="view !== 'sign'" class="header" data-ng-controller="MenuCtrl as menu">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#js-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#/">Lizt</a>
            </div>

            <div class="collapse navbar-collapse" id="js-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a data-translate="select.list.of.lists" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Select List of Lists
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li data-ng-repeat="lol in lols" style="min-width: 200px">
                                <a style="display: inline-block;" class="glyphicon glyphicon-edit" href="{{'#/elol/' + lol.id}}"></a>
                                <a style="display: inline-block;" href="{{'#/lol/' + lol.id}}">{{lol.name}}</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#/elol/add"><span data-translate="new.list.of.lists">New List of Lists</span></a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a data-ng-click="menu.changeLanguage('en')">EN</a></li>
                    <li><a data-ng-click="menu.changeLanguage('et')">ET</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">{{profile.name}}
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/sign"><span class="glyphicon glyphicon-log-in"></span> <span data-translate="logout">Logout</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div ng-show="noConnection" class="alert alert-danger" data-translate="no.conn">No connection to server!</div>
</div>



<div class="container sp-bottom-3">
    <div data-ng-view=""></div>
</div>

<div class="footer">
    <div class="container">
        <p>Tõnis Ojandu</p>
    </div>
</div>


<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/ng-confirm/dist/ng-confirm.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/angular-websocket/angular-websocket.min.js"></script>
<script src="bower_components/angular-notify/dist/angular-notify.js"></script>
<script src="bower_components/angular-ui-notification/dist/angular-ui-notification.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/i18n/en.js"></script>
<script src="scripts/i18n/et.js"></script>
<script src="scripts/conf.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/global.js"></script>
<script src="scripts/controllers/menu.js"></script>
<script src="scripts/controllers/edit-list.js"></script>
<script src="scripts/controllers/edit-list-of-lists.js"></script>
<script src="scripts/controllers/list.js"></script>
<script src="scripts/controllers/list-of-lists.js"></script>
<script src="scripts/controllers/sign.js"></script>
<script src="scripts/controllers/home.js"></script>
<!-- endbuild -->
</body>
</html>
