<h3 data-translate="list.of.lists">List of Lists</h3>
<form>
    <input id="lolname" class="form-control" placeholder="Name" data-ng-model="elol.edit.name"/>
    <label class="sp-top-1" data-translate="list.type">List Type</label>
    <div class="form-group">
        <div class="btn-group">
            <label class="btn btn-default" data-ng-model="elol.edit.type" data-uib-btn-radio="'LIST_FIFO'"
                   data-translate="first.in.first.out" data-uib-tooltip="{{'fifo.tooltip' | translate}}">First In First Out</label>
            <label class="btn btn-default" data-ng-model="elol.edit.type" data-uib-btn-radio="'LIST_LIFO'"
                   data-translate="last.in.first.out" data-uib-tooltip="{{'lifo.tooltip' | translate}}">Last In First Out</label>
        </div>
    </div>
    <a data-ng-click="elol.doSave()" class="btn btn-primary" data-translate="save">Save</a>
    <a data-ng-show="elol.lolId !== 'add'" data-ng-click="elol.delete()" class="btn btn-danger" data-translate="delete">Delete</a>
</form>