<div>
    <div class="list-group">
        <a data-ng-repeat="lol in lols" href="{{'#/lol/' + lol.id}}" class="list-group-item">
            <h4 class="list-group-item-heading"><span>{{lol.name}}</span></h4>
            <p class="list-group-item-text">{{lol.createdOn}}</p>
        </a>
    </div>
</div>