<div>
    <div class="list-group">
        <div class="list-group-item">
            <div class="row">
                <div class="col-xs-10">
                    <input id="newitem" placeholder="{{'new.list.item.is' | translate}}" type="text"
                           data-ng-model="list.edit"
                           class="col-xs-10 form-control list-group-item-heading"
                           ng-keyup="$event.keyCode == 13 &amp;&amp; list.enter()">
                </div>
                <div class="col-xs-2">
                    <a data-ng-disabled="list.edit.length < 1" data-ng-click="list.enter()" class="btn btn-primary"
                       data-translate="enter" data-uib-tooltip="{{'enter.tooltip' | translate}}">ENTER</a>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="btn-group">
                <label class="btn btn-default" data-ng-model="list.filter" data-ng-click="list.doFilter()"
                       data-uib-btn-radio="'all'" data-uib-tooltip="{{'all.tooltip' | translate}}"><span data-translate="all">All</span> ({{list.allCount}})</label>
                <label class="btn btn-default" data-ng-model="list.filter" data-ng-click="list.doFilter()"
                       data-uib-btn-radio="'uncompleted'" data-uib-tooltip="{{'uncompleted.tooltip' | translate}}"><span data-translate="uncompleted">Uncompleted</span> ({{list.uncompletedCount}})</label>
                <label class="btn btn-default" data-ng-model="list.filter" data-ng-click="list.doFilter()"
                       data-uib-btn-radio="'completed'" data-uib-tooltip="{{'completed.tooltip' | translate}}"><span data-translate="complete">Complete</span> ({{list.completedCount}})</label>
            </div>
        </div>
        <div data-ng-repeat="item in list.list" class="list-item-group">
            <div class="row">
                <div class="col-xs-1 list-item-inline" data-ng-click="list.toggle(item)" style="border-width: 0px;">
                    <div data-ng-class="item.completed ? 'col-xs-1 glyphicon glyphicon-ok' : 'col-xs-1 glyphicon glyphicon-asterisk'"></div>
                </div>
                <div class="col-xs-10 list-item-inline" data-ng-click="list.select(item)" >
                    <span data-ng-class="{'completed': item.completed}" data-ng-show="list.selected !== item">
                        {{item.value}}
                    </span>
                    <div class="row" data-ng-show="list.selected === item" >
                        <div class="col-xs-10">
                            <input class="form-control" data-ng-model="list.selectedEdit"/>
                        </div>
                        <div class="col-xs-2">
                            <a data-ng-disabled="list.selectedEdit.length < 1" data-ng-click="list.saveSelected()" class="btn btn-primary">ENTER</a>
                        </div>
                    </div>
                    <p class="list-group-item-text"><span data-translate="created.on">Created on</span> {{item.createdOn | date : 'yyyy-MM-dd HH:mm:ss' }}</p>
                </div>
                <div data-ng-click="list.delete(item)" class="col-xs-1 list-item-inline" style="border-width: 0px;">
                    <div class="glyphicon glyphicon-remove"></div>
                </div>
            </div>
        </div>
    </div>
</div>