<div>
    <div class="list-group">
        <a href="{{'#/elist/' + lol.lolId + '/add'}}" class="list-group-item">
            <h4 class="list-group-item-heading" data-translate="add.list">Add List</h4>
        </a>
        <div class="form-group">
            <div class="btn-group">
                <label class="btn btn-default" data-ng-model="lol.filter" data-ng-click="lol.doFilter()"
                       data-uib-btn-radio="'all'" data-uib-tooltip="{{'all.tooltip' | translate}}"><span data-translate="all">All</span> ({{lol.allCount}})</label>
                <label class="btn btn-default" data-ng-model="lol.filter" data-ng-click="lol.doFilter()"
                       data-uib-btn-radio="'uncompleted'" data-uib-tooltip="{{'uncompleted.tooltip' | translate}}"><span data-translate="uncompleted">Uncompleted</span> ({{lol.uncompletedCount}})</label>
                <label class="btn btn-default" data-ng-model="lol.filter" data-ng-click="lol.doFilter()"
                       data-uib-btn-radio="'completed'" data-uib-tooltip="{{'completed.tooltip' | translate}}"><span data-translate="complete">Complete</span> ({{lol.completedCount}})</label>
            </div>
        </div>

        <div data-ng-repeat="list in lol.lists" class="list-item-group">
            <div class="row">
                <div class="col-xs-1 no-float list-item-inline glyphicon glyphicon-edit" data-ng-click="lol.go('/elist/' + lol.lolId + '/' + list.id)" style="border-width: 0px;">
                </div>
                <div class="col-xs-10 no-float list-item-inline" data-ng-click="lol.go('/list/' + lol.lolId + '/' + list.id)">
                    <span data-ng-class="{'completed': list.completed}">
                        {{list.name}}
                    </span>
                    <p class="list-group-item-text"><span data-translate="created.on">Created on</span> {{list.createdOn | date : 'yyyy-MM-dd HH:mm:ss' }}</p>
                </div>
                <div data-ng-click="lol.delete(list)" confirm="Are you sure?" class="col-xs-1 list-item-inline" style="border-width: 0px;">
                    <div class="glyphicon glyphicon-remove"></div>
                </div>
            </div>
        </div>
    </div>
</div>