<div>
    <h1>LIZT</h1>
</div>
<form>
    <input class="form-control" type="text" placeholder="Username"/>
    <input class="form-control" type="password" placeholder="Password"/>
    <a class="btn btn-default sp-top-2" data-ng-click="sign.doSign()">Sign In</a>
</form>
<p id="fb-login">

</p>
<form action="api/connect/fb" method="POST">
<!--form action="http://localhost:8080/api/connect/fb" method="POST"-->
    <input type="hidden" name="redirect_uri" value="{{sign.redirUrl}}" />
    <button class="btn btn-default" type="submit"><span class="fb-logo"></span>Use Facebook</button>
</form>