$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

* {
  border-radius: 0 !important;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
  cursor: pointer;
}

.sp-top-1 {
  margin-top: 5px;
}
.sp-top-2 {
  margin-top: 10px;
}

.sp-bottom-1 {
  margin-bottom: 5px;
}
.sp-bottom-2 {
  margin-bottom: 10px;
}
.sp-bottom-3 {
  margin-bottom: 20px;
}

.custom-dropdown-link {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}

.custom-dropdown-link:hover {
  text-decoration: none;
}

.list-item-inline {
  position: relative;
  display: inline-block;
  padding: 10px 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  height: 100%;
}

.list-item-inline:hover {
  background-color: #f5f5f5;
}

.list-item-group {
  position: relative;
  display: block;
  padding: 0px 15px;
  background-color: #fff;
}

.completed {
  color: #CCCCCC;
  text-decoration: line-through;
}

.fb-logo {
  background-image: url("../images/fb.png");
  height: 20px;
  width: 20px;
  display: inline-block;
  background-size: 20px 20px;
  position: relative;
  top: 5px;
  margin-right: 5px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
